*{
 margin:0;
 padding:0;
}


.introduction{
 */  background-color: navy; */
 text-align: center;
width: 600px;
}


.top{
background-color: blue;
height: 20vh;
justify-content: center;
align-items: center;
display: flex;
}
